version: '3.6'

services:
    tileserver:
        build: tileserver
        links:
            - database
        volumes:
            - "./tileserver/mapnik_config:/etc/tirex/renderer/mapnik"
            - "./tileserver/mapnik_maps:/etc/tirex/maps/mapnik"
        ports:
            - 1337:80
    
    database:
        build: database
        restart: always
        environment:
            # POSTGRES_DB: simra
            POSTGRES_USER: simra
            POSTGRES_PASSWORD: simra12345simra

    adminer:
        image: adminer
        restart: always
        ports:
            - 9000:8080
